*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    height: 2360px;
}
#header
{
width: 50%;
margin: auto;
}
#color
{
height: 40px;
background-color: #4B0082;
border: 1px solid black;
}
.heading
{
color: #ffffff;
text-shadow: 2px 3px 3px black;
font-size: small;
text-align: center;
padding: 10px;
transition: opacity cubic-bezier(0.39, 0.575, 0.565, 1) ease-in-out;
opacity: 12;
}
.navbar-expand-lg 
{
width: 100%;
background-color: #4B0082;
height: 40px;
text-align: center;
}
.nav1
{
color: #ffffff;
width: 100%;
text-decoration: none;
padding: 5px;
}
.container-fluid
{
display: flex;
justify-content: center;
align-items: center;
}
#navbar
{
width: 100%;
margin: auto;
border: 1px solid black;
}
.navbar-nav
{
width: 30%;
margin: auto;
}
.nav-item
{
color: #ffffff;
padding: 9px;
}
.nav1:hover
{
color: #ffffff;
border-bottom: 2px solid #ff3;
}
.nav1:active
{
color: #ffffff;
border-bottom: 2px solid #ff3;
}
.nav1:focus
{
color: #ffffff;
border-bottom: 1px solid #ff3;
}
.dropdown-item:hover
{
background-color: #4B0082;
color: #ffffff;
border: 1px solid black;
}
.dropdown-item:focus
{
color: #4B0082;
}
#head-img
{
    background-image: url(charles-deloye-2RouMSg9Rnw-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border: 0.5px solid black;
}
#Head-content
{
    height: 120px;
    background-color: #9e1b32;
    border: 0.5px solid black;
    box-shadow: 2px 2px 10px 5px #d3d3d3;
}
#box8
{
    padding: 5px;
    display: flex;
}
#mark
{
    font-size: 50px;
    color: #ffffff;
    padding: 5px;
}
#mark1
{
   color: #ffffff; 
   margin-bottom: 30px;
   padding: 5px;
}
#a
{
    font-size: medium;
    margin-left: 12px;
    padding: 5px;
    color: #ffffff;
}
#middle
{
    display: flex;
    justify-content: space-evenly;
    border: 0.5px solid black;
    height: 900px;
    background: linear-gradient(
    to left,
    #833ab4,#fd1d1d,#fcb045
    );
    box-shadow: 2px 2px 10px 5px #fcb045;
}
#calender
{
    width: 30%;
    margin-left: 150px;
    height: 250px;
    display: flex;
    margin-top: 255px;
}
.table
{
    border: 1px solid black;
    box-shadow: 2px 2px 10px 5px #ffffff;
    width: 100%;
    height: 250px;
    padding: 5px;
    margin-right: 20px;
}
tr,td
{
    border: 1px solid black;
    padding: 5px;
    color: #ffffff;
    text-shadow: 1px 2px 2px #ffffff;
}
#table
{
    border-radius: 4px;
}
#middle1
{
    width: 30%;
    height: 500px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 5px #ffffff;
    margin: 150px 150px 50px 50px ;
    border: 1px solid black;
    border-radius: 16px;
}
#middle2
{
    width: 30%;
    height: 500px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 5px #ffffff;
    margin: 150px 200px 50px 50px ;
    border: 1px solid black;
    border-radius: 16px;
}
#head2
{
    text-align: center;
    color: #9e1b32;
    font-family:'Times New Roman', Times, serif ;
    font-size: 25px;
}
#ml
{
    list-style-type: none;
    margin: 9px 9px 9px 9px;
    text-align: left;
    color: #fd5c63;
    text-shadow: 1px 1px 1px black;
}
#u1
{
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  
}
.UG
{
  border:1px solid #b3b3b3;
  box-shadow: 1px 1px 10px 5px #b2b2b2;
}
.PG
{
  border:1px solid #b3b3b3;
  box-shadow: 1px 1px 10px 5px #b2b2b2;
}
#src
{
    border: 0.5px solid black;
}
.navbar-expand-lg 
{
    width: 100%;
    background-color: #4B0082;
    height: 40px;
    text-align: center;
}
.nav1
{
    color: #ffffff;
    width: 100%;
    text-decoration: none;
    padding: 5px;
}
.container-fluid
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar
{
    width: 100%;
    margin: auto;
    border: 1px solid black;
}
.navbar-nav
{
    width: 30%;
    margin: auto;
}
.nav-item
{
    margin-left: 30px;
    color: #ffffff;
    padding: 9px;
}
.nav1:hover
{
    color: #ffffff;
    border-bottom: 2px solid #ff3;
}
.nav1:active
{
    color: #ffffff;
    border-bottom: 2px solid #ff3;
}
.nav1:focus
{
    color: #ffffff;
    border-bottom: 1px solid #ff3;
}
.dropdown-item:hover
{
    background-color: #4B0082;
    color: #ffffff;
    border: 1px solid black;
}
.dropdown-item:focus
{
  color: #4B0082;
}
#header1
{
    background-image: url('vladimir-mokry-G-4wX5tZNuE-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    border: 1px solid #ffffff;
    display: flex;
    justify-content:left;
    align-items: center;
}
#class1
{
    font-family:'Courier New', Courier, monospace;
    color: black;
    margin-left: 100px;
}
#class
{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    align-self: left;
    margin-top: 90px;
    margin-right: 160px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
#class:hover
{
    color: rgba(182, 14, 14, 0.356);
}
#cols1
{
    border:2px solid #D3D3D3;
    height: 1230px;
    box-shadow:1px 1px 3px 3px #D3D3D3;
    border-radius: 6px;
    margin-right: 40px;
    width: 100%;
}
#imgs
{
  height: 370px;
  width: 600px;
  margin-top: 20px;
  border-radius: 6px;
}
#prh
{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: left;
  padding: 5px;
}
p
{
  color: #A9A9A9;
  margin-right: 22px;
  text-align: left;
  padding: 10px;
  line-height: 20px;
}
#cols2
{
  border:2px solid #D3D3D3;
    height: 600px;
    box-shadow:1px 1px 3px 3px #D3D3D3;
    border-radius: 6px;
    margin-left: 70px;
    width: 60%;
}
#h1
{
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  padding: 20px;
}
#lid
{
  list-style-type: none;
  text-align: left;
  padding: 10px;
}
#footer
{
  background-color: #4B0082;
  height: 340px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  border-bottom: none;
}
#h3
{
  color: #ffffff;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  margin-left: 10px;
  font-weight: 100;
}
#box1
{
  width: 123%
}
#para
{
  color: #ffffff;
}
#box2
{
  width: 60%;
  margin-left: 140px;
  margin-bottom: -132px;
}
#arrange
{
  list-style-type: none;
  padding: 10px;
  text-align: left;
}
#align
{
  text-decoration: none;
  margin-bottom: 30px;
  color: #ffffff;
}
#align:hover
{
  color: #ff3;
}
#box3
{
  width: 60%;
  margin-left: 80px;
}
#box4
{
  width: 100%;
  margin-right: 150px;
}
#align1
{
  font-family: 'Times New Roman', Times, serif;
}
#dn
{
  background-color: #662d91;
  height:30px;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  border-radius: 4px;
}
h6
{
  font-family: 'Times New Roman', Times, serif;
  font-size: 9px;
  padding: 7px;
  color: #ffffff;
  text-align: end;
}
